@charset "UTF-8";
/* CSS Document */ 
/*root stylesheet*/

/*GENERAL*/
body {
  background-color: #FFFBF7;
  cursor:default;
  font-family:"Palatino Linotype", Fallback, serif;
  margin: 0;
}

#intro_p {
  margin: 0px auto;
  width: 80%;
}

#page_title {
  text-align: center;
}

/*MAIN LAYOUT*/
#main_div {
  position: relative;
  margin: 0px auto;
  width:1500px;
  background-color: blue;
}

#data_div {
  position: absolute;
  top:50px;
  left:0px;
  width:100%;
  height: 1000px;
}

#fitness_svg_div {
  position: absolute;
  top: 0px;
  left:0px;
  height: 200px;
  width: 650px;
}
#fitness_svg {
  position: absolute;
  top: 0px;
  left:0px;
  height: 250px;
  width: 680px;
}

#wgs_svg_div {
  position: absolute;
  top: 0px;
  left: 680px;
  height: 250px;
  width: 820px;
}

#wgs_svg {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 250px;
  width: 550px;
}

#mut_stuff {
  position: absolute;
  top:0px;
  left:550px;
  height: 250px;
  width: 250px;
  padding-left:10px;
  hyphens:auto;
}

#pop_stuff {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1500px;
  height: 50px;
}

#pop_info {
  position: absolute;
  top: 0px;
  left: 50px;
  height: 50px;
  width: 350px;
  padding-left:10px;
}

#well_name_etc {
  margin:0px;
  font-size:1.4em;
}
.see_data {
  color:blue;
}

.see_data:hover {
  opacity:0.6;
}

#searches_etc {
  position: absolute;
  top: 0px;
  left: 300px;
  height: 50px;
  width: 1200px;
}

#overlay_button_div {
  position:absolute;
  top:260px;
  left:100px;
  width:1300px;
  height:30px;
}

.overlay_button {
  width: 110px;
  height: 25px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size:14px;
  background-color: #DDD;   
  margin-top:5px;
  margin-right:20px;
  text-align: center;
  float:left;
  padding-top:4px;
}
.overlay_button:hover {
  opacity:0.8;
}

/*data overlays*/
.data_overlay {
  position: absolute;
  left:85px;
  top:310px;
  width:1330px;
  z-index: 1;
  padding:12px;
  display:none;
}

.escape_data_overlay {
  position: absolute;
  left:0px;
  top:0px;
  font-size:15px;
  font-family:monospace;
  width:13px;
  height:15px;
  border: 1px solid black;
  border-radius: 25%;
  display: flex;
  margin: auto;
  align-items:center;
  justify-content:center;
}

.escape_data_overlay:hover {
  opacity:0.5;
}

.escape_large_overlay {
  position: fixed;
  left:12%;
  top:110px;
  font-size:25px;
  font-family:monospace;
  width:23px;
  height:25px;
  border: 3px solid black;
  border-radius: 25%;
  z-index:3;
  display: flex;
  margin: auto;
  align-items:center;
  justify-content:center;
}

.escape_large_overlay:hover {
  opacity:0.5;
}

#facs_div {
  background-color: white;
  height:700px;
}

#facs_img1 {
  position: absolute;
  top:0px;
  left:28px;
  width: 600px; 
  height: 90px;
  object-fit: cover;
  object-position: 0px 0px; 
}
#facs_img2 {
  position: absolute;
  top:90px;
  left:28px;
  width: 600px; 
  height: 240px;
  object-fit: cover;
  object-position: 0px -145px; 
}
#facs_img1 {
  position: absolute;
  top:0px;
  left:28px;
  width: 600px; 
  height: 90px;
  object-fit: cover;
  object-position: 0px 0px; 
}
#facs_img3 {
  position: absolute;
  top:25px;
  left:650px;
  width: 600px; 
  height: 60px;
  object-fit: cover;
  object-position: 0px -85px; 
}
#facs_img4 {
  position: absolute;
  top:93px;
  left:650px;
  width: 600px; 
  height: 240px;
  object-fit: cover;
  object-position: 0px -385px; 
}

.depth_overlay {
  position: relative;
  left:28px;
  width: 1280px;
  height: 62px;
  background-color: brown;
  opacity: 0;
  margin-bottom:1px;
}
.depth_overlay:hover {
  opacity: 0.3;
}

#depth_img1 {
  position: absolute;
  left: 15px;
  top: 0px;
  height: 400px;
}

#depth_img2 {
  position: absolute;
  left: 15px;
  top: 400px;
  height: 400px;
}

#microscopy_img {
  position: absolute;
  top: 0px;
  left: 30px;
  width: 90%;
}

#microscopy_img:hover {
  opacity:0.8;
}

#big_microscopy_div {
  position:fixed;
  width:80%;
  left:10%;
  overflow-x:scroll;
  top:100px;
  height:520px;
  display: none;
  z-index: 2;
  border-radius: 40px;
  border: 3px solid black;
  background-color: white;
}

#big_microscopy_img {
  position: absolute;
  top: 0px;
  left: 30px;
  height: 100%;
}

/*GRAPH STUFF*/
.axis path,
.axis line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.allele_path {
  opacity: 0.2;
  stroke: "#333";
  stroke-width: 1.5;
}

.allele_path:hover {
  opacity: 1;
  stroke: "#F00";
  stroke-width: 5;
}

/*FORMS*/
input[type=text] {
  width: 300px;
  height: 35px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size:18px;
}

select {
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

input[type=text] {
  width: 230px;
  height: 25px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size:12px;
}

.my_button {
  width: 45px;
  height: 25px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size:12px;
  background-color: #DDD;   
  margin:2px;
}
.my_button:hover {
  opacity:0.8;
}

.s_traj {
  fill:none;
  opacity: 0.5;
  stroke-width:1.5;
}

.s_traj:hover {
  opacity:1;
  stroke-width:5;
}

.allele_path {
  fill:none;
  opacity: 0.5;
  stroke-width:1;
}

.allele_path:hover {
  opacity:1;
  stroke-width:5;
}

.highlighted_allele {
  opacity:1;
  stroke-width:5;
}

.highlighted_traj {
  opacity:1;
  stroke-width:5;
}

#genome_browser {
  position: absolute;
  left: 40px;
  top: 0px;
  width: 1100px;
  height: 50px;
}

.gene_block {
  stroke: black;
  stroke-width: 2px;
  fill: #CCCCCC;
}

.gene_block:hover {
  opacity:0.5
}

#alignment_area {
  position: absolute;
  left: 40px;
  top: 100px;
  width: 1100px;
  height: 500px;
  overflow-y: scroll;
  padding-left:45px;
}

.alignment {
  display: block;
  font-family: monospace;
  font-size:14px;
  margin: 0px;
}

#genome_gen_buttons {
  position: absolute;
  top:50px;
  width: 1100px;
  left: 40px;
  height: 45px;
}

.gen_button {
  height: 30px;
  width: 80px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size:17px;
  background-color: #DDD;   
  margin-top:5px;
  margin-right:20px;
  text-align: center;
  float:left;
  padding-top:4px;
}
.gen_button:hover {
  opacity:0.8;
}

.gb_highlighted {
  background-color: red;   
}
